:root{
  --blue:rgb(170, 208, 232);
  --grey:rgb(51, 52, 68);
  --light
}

* {
  box-sizing: border-box;
}

header{
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  margin-right: 30px;
  display: flex;
  align-content: center;
  gap: 15px;
  list-style-type: none;
}

li a{
font-family: 'Hind Siliguri', sans-serif;
  color: var(--blue);
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  

}

li a:hover{
  text-decoration: none;
  color: white;
}

h1{
  padding:5px 5px 5px 40px;
  color: rgb(74, 74, 74);
  background-color: var(--blue);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
  background-color: rgb(214, 205, 194);
  
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:40px;
  max-width: 800px;
  width: 100%;
}

.image-wrapper img {
  width: 200px;
  height: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.introduce-me {
  text-align: center;
  
}

h2{
  margin-bottom: 0px;
  color: var(--grey);
  font-family: 'Poppins', sans-serif;
}
h3{
  font-size: 100px;
  margin: 0px;
  color: var(--grey);
}

.introduce-me p{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  color: var(--grey)

  
  
}

.about-me{
  display: flex;
padding: 50px 100px;



}

.first-paragraph{
font-weight: bold;
text-align: right;
font-size: 30px;
 color: var(--grey);
}

.second-paragraph{
margin-left: 10px;
padding-left: 10px;
border-left: 2px solid rgb(147, 147, 147);
font-size: 15px;
font-family: 'Poppins', sans-serif;

}






@media only screen and (max-width: 600px) {
  
 h1{
  display: none;
 }
 nav{
  width: 100%;
 }

 .intro{
  margin-top: 10px;
 }

.content-wrapper{
  display: block;
}
 
.image-wrapper img {
  width: 150px;
  height: auto;
  border-radius: 15px;
  

}
 .image-wrapper{
  display: flex;
    justify-content: center;
    align-items: center;
 }
.image-wrapper img{
  max-width: 100%;
    max-height: 100%;
}
h3 {
  font-size: 60px;
  margin: 0px;
  
}
.introduce-me p{
  font-size:18px;
}
.about-me{
 padding: 5px;
 display: block;
 
}

.first-paragraph{
  font-size: 20px;
  text-align:left;
  padding-left: 10px;
}

.second-paragraph{
  font-size: 13px;
}

}
